.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 400px;
    height: 400px;
}

.gridbox {
    background-color: #ccc;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-layout{
	display: flex;
	align-items: flex-start;
	gap: 30px;
}

.controls{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.controls button {
	width: auto;
	align-self: flex-start;